*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #f2f2f2;
}

header{
    background-color: #333;
    /* border: 2px solid orange; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
}


a{
    text-decoration: none;
}
.navbar{
    width:1180px;
    height: 76.667px;
    /* border: 2px solid green; */
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;

}
h2{
    display: block;
    font-size: 1.5em;
}
.nav_link{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_link>li{
    list-style-type: none;
}

header a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

/* This is HomePage section css */
section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}

.homepage{
    height: 100vh;
    width: 100%;
    background-image: url("https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped");
    background-size: cover;
    position: relative;
    background-position: center 65%;
    background-attachment: fixed;
}

.content{
    margin: auto;
    /* border: 2px solid white; */
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.homepage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




.content a{
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.content a:hover {
    color: #fff;
    background: rgba(255,255,255,0.3);
}

/* services section is the section here */
.services{
    text-align: center;
    /* border: 2px solid indigo; */
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.services h2 {
    font-size: 2rem;
    padding: 0;
    margin-bottom: 0;
    margin-top: 90px;
}

.cards{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 120px;
}
.card{
    width: 27.33%;
    text-align: center;
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    
    text-align: center;
}
.card img{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* this is About us page */
.aboutus h2,p{
   margin-bottom: 2px;
}

.aboutus h2{
    font-size: 2em;
}
.aboutus .info {
    padding: 0 10px;
}
.aboutus h3 {
    margin: 30px 0 10px;
}
.aboutus .our_team {
    text-align: left;
    width: 100%;
}
.aboutus .our_team ul {
    padding-left: 20px;
}
/* this is contact us section */
.conatactus{
    display: flex;
}
.conatactus h2,p{
    margin: 0px;
 }
 
 .conatactus h2{
     font-size: 2em;
 }
 .container{
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
 }
 .container p{
    margin-bottom: 10px;
 }
 .container p i {
    margin-right: 10px;
 }
 .contactus form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
}
.contactus form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf;
}
.contactus form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #333;
    transition: 0.2s ease;
}



